{
  "urls": {
      "Kurz Informiert": "https://proxyfeed.svmaudio.com/feeds/heise/kurz-informiert"
  },
  "timeout": 30,
  "max_mp3_links": 5,
  "download_mp3_files": true,
  "verify_ssl": true,
  "scheduler": {
    "enabled": false,
    "interval_minutes": 60
  }
}
