{
  "urls": {
      "Kurz Informiert": "https://proxyfeed.svmaudio.com/feeds/heise/kurz-informiert"
  },
  "output_directory": "test_downloads",
  "timeout": 30,
  "max_mp3_links": 5,
  "download_mp3_files": true,
  "enable_album_tagging": false,
  "enable_track_tagging": false,
  "enable_release_date_tagging": false,
  "verify_ssl": true
}
